@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Big+Shoulders+Display|Nanum+Gothic&display=swap');
$heading_font: "Be Vietnam", sans-serif;
$text_font: 'Nanum Gothic', sans-serif;
$special_font: 'Big Shoulders Display', cursive;
$page_background: #f7fafc;
$color_primary: black;
$color_secondary: white;
$color_tertiary: pink;
$text_primary: gray;
$text_secondary: blue;