@import '~variables';
@import '~foundation';
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
  background: red;
  font-family: 'Mansalva', cursive;
}
h1 {
  background: black;
}