Options -Multiviews

RewriteEngine On

# Make sure this htaccess file is always executed and subfolder htaccess files will not override
RewriteOptions InheritDownBefore

# Protect the POST array from getting lost in redirects
RewriteCond %{REQUEST_METHOD} !^POST$

RewriteBase /kikopolis_poc/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule  ^(.+)$ index.php?$1 [NC,NE,QSA,L]

AddHandler application/x-httpd-php .html .htm .phtml