@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Big+Shoulders+Display|Raleway&display=swap');
$heading_font: "Be Vietnam", sans-serif;
$text_font: 'Raleway', sans-serif;
$special_font: 'Big Shoulders Display', cursive;
$page_background: #f7fafc;
$color_primary: #212121;
$color_secondary: #616161;
$text_primary: #e0e0e0;
$text_secondary: #9e9e9e;